html {
    font-size: 50px;
}

#mobile {
    flex: 1;
    background: #f6f6f6;
}
#mobile header {
    border-bottom: 1px solid #2db7f5;
}
#mobile header img {
    height: 50px;
    padding-left: 5px;
}
span{
    font-size: 35px;
    vertical-align: top;
    padding-left: 10px;
    color: #2db7f5; 
}