.logo {
    align-items: center;
    display: flex;
}

.logo img {
    width: 48px;
    height: 48px;
}

.logo span {
    font-size: 24px;
    padding-left: 5px; 
} 
.container {
    padding-top: 5px; 
}
.leftContainer {
    width: 400px;
    margin-left: 0;
}
.carousel {
    width: 400px;
}
.carousel img {
    width: 400px;
    height: 300px;
    cursor: pointer;
}
.tabs_news {
    padding-left: 5px;
}

.imageItem {
    display: block;
    width: 110px;
    border: 1px solid red;
    float: left;
}
.footer {
    text-align: center;
}
